<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!--
        Начиная с Android 11 (API 30) приложение не видит другие
        установленные пакеты без явного объявления видимости.
        Без этого блока intent.resolveActivity() для Яндекса
        всегда будет возвращать null, даже если Яндекс установлен.
    -->
    <queries>
        <package android:name="com.yandex.searchapp" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="YaCTS"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">

        <!-- Главное Activity: интерфейса не показывает, сразу запускает скриншот или открывает настройки Accessibility и закрывается -->
        <activity
            android:name=".MainActivity"
            android:theme="@android:style/Theme.NoDisplay"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>


        <!-- Accessibility Service -->
        <service
            android:name=".YaService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="android.accessibilityservice.AccessibilityService" />

            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/yacts_service_config" />

        </service>


        <!--
            FileProvider нужен для передачи JPEG
            непосредственно приложению Яндекс.
        -->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />

        </provider>

    </application>

</manifest>
